*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.redondito {
  border-radius: 45px;
  box-shadow: 0 0 5px 4px rgba(30, 29, 29, 0) !important;
  transition: box-shadow 0.3s ease-in-out; /* Transición para la sombra */
}

.redondito:hover {
  box-shadow: 0 0 20px 7px rgba(255, 255, 255, 0.75) !important;
}