.content-group{
  margin: 20px;
  margin-right: 370px;
}

@media (max-width: 768px) {
  .content-group {
    margin-right: 80px; /* Se reduce a solo iconos */
  }

}

.form-group .input-group {
  position: relative;
}

.form-group .search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
