<div class="container-fluid">
  <div class="row">
    <main class="col-12 px-md-4">
      <div class="text-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Horario del Profesor</h1>
        <p class="text-muted">Mi horario</p>
      </div>
      @if (horario$| async; as horarioInfo) {
        @if (horarioInfo.horario.length > 0) {
          <div class="row g-4 mb-4">
            <app-schedule [teacher]="true" [horario]="horarioInfo.horario"></app-schedule>
          </div>
        }@else {
          <div class="row g-4 mb-4">
            <div class="col-12">
              <div class="d-flex align-items-center">
                <h3><strong>No hay horario disponible.</strong></h3>
              </div>
            </div>
          </div>
        }
      }@else {
        <div class="row g-4 mb-4">
          <div class="col-12">
            <div class="d-flex align-items-center">
              <strong>Cargando horario...</strong>
              <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      }
    </main>
  </div>
</div>